
/* footer color lightblue #4EA0FF*/
/* journalist name color lightblue #36B1E7 */
/* tablehead color lightblue #20A9E5 */
/* cells color lightblue #B1E5F2 */

#site_header{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-size: cover contain;
    background-color: #4EA0FF;
    position: relative;
}

.logo{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}

h1{
    font-size: 40px;
    margin-bottom: 0;
}

#site_title{
    margin-bottom: 20px;
}

#subtitle, #date_article{
    color: grey;
}

#subtitle{
    font-size: 25px;
}

#journalist{
    color:#36B1E7;
}

#date_article{
    font-size: 12px;
}

.caption{
    font-size: 12px;
}

table{
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.last_cell{
    width: 600px;
}

th{
    background-color: #20A9E5;
    color: white;
}

.lightblue{
    background-color: #B1E5F2;
}